<!--Pagina de carrito de compras-->
<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
</head>
<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <% if (misProductos.length > 0) { %>
            <ul>
                <% misProductos.forEach(p =>{ %>
                    <li><%= p.productData.title %> (<%= p.qty %>)</li>
                <% }) %>
            </ul>
        
        <% } else { %>
            <h1>No hay productos en el carro</h1>
        <% } %>

    </main>
<%- include('../includes/end.ejs') %>